/* Alapbeállítások */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/* Alapbeállítások VÉGE */

/* HEADER beállítások */

/* Page logo */

img.page-logo {
    width: 120px;
}

/* Navigation */

header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 96px;
}

div.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul.navigation {
    list-style-type: none;
}

li {
    float: left;
    text-align: center;
    padding: 6px 12px;
    font-weight: 600;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
}

a.nav-list-item {
    text-decoration: none;
    color: rgb(127, 44, 0);
}

/* HERO */

div.hero-title-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

div.hero-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-image: url(../img/1.Hero/pizza_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    padding: 0 96px;
    gap: 3rem;
}


h1.hero-title {
    font-family: "Knewave", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    color: white;
}

p.hero-subtitle {
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

button.hero-cta-button {
    padding: 6px 12px;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgb(255, 225, 0);
    -webkit-box-shadow: 0px 5px 15px 5px rgba(129, 46, 0, 0.2);
    box-shadow: 0px 5px 15px 5px rgba(129, 46, 0, 0.2);
}

/* HERO VÉGE */

/* Kategóriák */

div.main-categories {
    width: 60%;
    display: grid;
    place-items: center;
    height: 600px ;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 64px 96px 64px 96px;
}

div.categories {
    padding: 16px;
}